.Board-body{
    background-color:rgb(22,33,78);
    height:100vh;
    text-align: center;
    display:flex;
    flex-direction:row;
    justify-content: space-between;

}
button{
    margin-left:750px;
    margin-top:30px;
    padding:10px;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
}